
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<!-- featured section -->
<div class="feature-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="featured-text">
                    <h2 class="pb-3">Cửa hàng hoa <span class="orange-text">Floryn</span></h2>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 mb-4 mb-md-5">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <i class="fas fa-shipping-fast"></i>
                                </div>
                                <div class="content">
                                    <h3>Giao hàng tận nhà</h3>
                                    <p>Giao hàng tận nhà nhanh chóng, tiện lợi, đảm bảo chất lượng!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <i class="fas fa-money-bill-alt"></i>
                                </div>
                                <div class="content">
                                    <h3>Giá cả phải chăng</h3>
                                    <p>Giá cả phải chăng, đảm bảo phù hợp với mọi nhu cầu và ngân sách của bạn!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <i class="fas fa-briefcase"></i>
                                </div>
                                <div class="content">
                                    <h3>Dịch vụ tận tâm</h3>
                                    <p>Dịch vụ tận tâm, chu đáo trong từng chi tiết để mang đến sự hài lòng tối đa!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <i class="fas fa-sync-alt"></i>
                                </div>
                                <div class="content">
                                    <h3>Đổi trả nhanh chóng</h3>
                                    <p>Đổi trả nhanh chóng, tiện lợi, đảm bảo quyền lợi tối đa cho bạn!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end featured section -->
<!-- shop banner -->
<section class="shop-banner">
    <div class="container">
        <h3>Dịch vụ hoa tươi, giúp bạn <br> trao gửi <span class="orange-text">yêu thương.</span></h3>
        <div class="sale-percent"><span>Khám phá những mẫu hoa mới nhất, tươi nhất mỗi ngày! <br> </span></div>
        <a href="/Home/Index" class="cart-btn btn-lg">Mua ngay</a>
    </div>
</section>
<!-- end shop banner -->
<!-- team section -->
<div class="mt-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">Đội ngũ của chúng tôi</span></h3>
                    <p>Đội ngũ nhiệt huyết trong thành lập và phát triển nên cửa hàng này</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-team-item">
                    <div class="team-bg team-bg-1"></div>
                    <h4>Đặng Thanh Tuấn <span>Coder</span></h4>
                    <ul class="social-link-team">
                        <li><a href="https://www.facebook.com/profile.php?id=100008210988500" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.facebook.com/profile.php?id=100008210988500" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/profile.php?id=100008210988500" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-team-item">
                    <div class="team-bg team-bg-2"></div>
                    <h4>Lý Nguyễn Hoàng Anh <span>Coder</span></h4>
                    <ul class="social-link-team">
                        <li><a href="https://www.facebook.com/L.N.H.A1309" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.facebook.com/L.N.H.A1309" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/L.N.H.A1309" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-team-item">
                    <div class="team-bg team-bg-3"></div>
                    <h4>Nguyễn Minh Thuận <span>Coder</span></h4>
                    <ul class="social-link-team">
                        <li><a href="https://www.facebook.com/profile.php?id=100040736649550" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.facebook.com/profile.php?id=100040736649550" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/profile.php?id=100040736649550" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end team section -->
<!-- testimonail-section -->
<div class="testimonail-section mt-80 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <div class="testimonial-sliders">
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img src="assets/img/avaters/avatar1.png" alt="">
                        </div>
                        <div class="client-meta">
                            <h3>Phan Hoàng Quý <span>Chủ shop địa phương</span></h3>
                            <p class="testimonial-body">
                                " Sản phẩm chất lượng, dịch vụ nhanh chóng và thân thiện. "
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img src="assets/img/avaters/avatar2.png" alt="">
                        </div>
                        <div class="client-meta">
                            <h3>Lê Thị Yến Nghi <span>Khách hàng</span></h3>
                            <p class="testimonial-body">
                                " Hoa tươi, đẹp, đúng như hình ảnh, tôi rất ưng ý! "
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img src="assets/img/avaters/avatar3.png" alt="">
                        </div>
                        <div class="client-meta">
                            <h3>Nguyễn Lê Thảo Nguyên <span>Khách hàng thân thiết</span></h3>
                            <p class="testimonial-body">
                                " Hoa tuyệt đẹp, tôi sẽ luôn tin tưởng lựa chọn ở đây! "
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end testimonail-section -->
